@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0px;
}

body {
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: rgb(50, 50, 50);
  color: white;
  font-family: "Roboto Mono", monospace;
}

.darken-background {
  background-color: rgb(0, 0, 0);
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  /* text-align: center; */
}

.Home {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.UsersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewUserForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SurveysContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SurveyDisplay {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.NewSurveyForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.QuestionsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.QuestionDisplay {
  background-color: lightslategray;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewQuestionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResponseOptionsContainer {
  width: 90%;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.ResponseOptionsContainer ul {
  padding: 5px;
}

.ResponseOptionsContainer ul li {
  width: 100%;
}

.NewResponseOptionForm {
  padding: 10px;
}

.input {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.input__box {
  padding: 5px;
  width: 100%;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  background-color: white;
  color: black;
}

.input__box--large {
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
}

.input__box--medium {
  border-radius: 36px;
  padding: 15px 21px;
  font-size: 18px;
}

.input__box--small {
  border-radius: 24px;
  padding: 10px 14px;
  font-size: 12px;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__submit {
  text-align: center;
  border: none;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__submit--right-anchor {
  position: absolute;
  right: 0px;
}

.input__submit--large {
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  font-size: 20px;
}

.input__submit--medium {
  width: 36px;
  height: 36px;
  margin: 12px;
  border-radius: 36px;
  font-size: 18px;
}

.input__submit--small {
  width: 24px;
  height: 24px;
  margin: 8px;
  border-radius: 24px;
  font-size: 12px;
}

.input__submit:hover {
  background-color: #388ae2;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.text__icon {
  margin: 0px 5px;
  cursor: pointer;
}

.text__icon--empty-placeholder {
  width: calc(18px + calc(5px + 5px));
}

.text__title {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  margin: 5px;
  width: 90%;
}

.text__title--large {
  font-size: 30px;
  text-transform: uppercase;
  justify-content: center;
}

.input__title--medium {
  font-size: 18px;
  margin: 10px;
}

.text__title--small {
  font-size: 15px;
}

.text__title--icons-right {
  display: flex;
  flex: 1;
}

.text__title--wide {
  width: 100%;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 30px;
  }

  .SurveyDisplay {
    width: 95%;
  }

  .QuestionsContainer {
    width: 90%;
  }

  .input__box--large {
    border-radius: 36px;
    padding: 15px 21px;
    font-size: 18px;
  }

  .input__box--medium {
    border-radius: 30px;
    padding: 13px 19px;
    font-size: 16px;
  }

  .input__submit--large {
    width: 36px;
    height: 36px;
    margin: 12px;
    border-radius: 36px;
    font-size: 18px;
  }

  .input__submit--medium {
    width: 27px;
    height: 27px;
    margin: 9px;
    border-radius: 27px;
    font-size: 14px;
  }

  .text__title--large {
    margin: 15px 0;
    font-size: 30px;
  }

  .text__title--medium {
    font-size: 16px;
  }

  .text__title--small {
    font-size: 13px;
  }

  .text__icon--empty-placeholder {
    width: calc(16px + calc(5px + 5px));
  }
}
